<div class="orders">
    <div class="orderListNav">
        <div class="activeList">
            <div class="allOrders" >
                <div class="header">
                        <a href="/admin/orderList/allOrders">All Orders</a>
                </div>
             
            </div>
        </div>
        <div class="inactiveList">
            <div class="allOrders" >
                <a href="/admin/orderList/shopwise">Shop wise</a>
            </div>
        </div>
    </div>

   <div class="orderData">
       <div class="all-orders">
 <%= orders.length %>
        <% 
            if(orders.length != 0){
                for( var i=0; i < orders.length; i++){
                    %>
                    <table>
                        <thead>
                            <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <%
                }
            }
        %>
            

       </div>
   </div>
</div><!-- orders -->