
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="role">My Shop</span>
        </div>

        <div class="profile-details">
            <!--<img src="images/profile.jpg" alt="">-->
            <span class="admin_name">
                <a href="/shop/profile/<%= shopid %>"><i class='bx bx-user'></i></a></span>
          </div>
    </nav>



